
<!--Stop and fade buttons for any sounds playing-->
<div >
		<button type="button" class="stopButton" (click)="this._soundService.stopAll()">Stop All</button>
		<button type="button" class="stopButton" (click)="this._soundService.fadeOutAll()">Fade All</button>
</div>

<div class="soundDiv" *ngFor="let category of allSounds">
	<p>{{category.name}}</p>
	<div class="soundDiv" *ngFor="let sound of category.array">
		<button type="button" class="soundButton" (click)="this._soundService.play(sound)">{{sound.name}}</button><br />
		<button type="button" (click)="this._soundService.toggleLoop(sound)">{{sound.loopText}}</button><br />
		<button type="button" (click)="this._soundService.stopAfterPlay(sound)">Stop After Play</button><br />
		<button type="button" (click)="this._soundService.stop(sound)">Stop</button>
	</div>
</div>



