
<!--Stop and fade buttons for any sounds playing-->
	<div>
		<button type="button" class="stopButton" (click)="this._soundService.stopAll()">Stop All</button>
		<button type="button" class="stopButton" (click)="this._soundService.fadeOutAll('volume', 0, 2)">Fade All</button>
		<button type="button" class="stopButton" (click)="this._soundService.fadeOutAll('playbackRate', 0.8, 2)">Slow All</button>
	</div>

<div class="categoryDiv" *ngFor="let category of allSounds">
	<p>{{category.name}}</p>
	<div class="soundDiv"  *ngFor="let sound of category.array">
		{{sound.name}}
		<div>
			<button type="button" (click)="this._soundService.play(sound)">Play</button>
			<button type="button" (click)="this._soundService.stopAfterPlay(sound)">Stop After Play</button>
		</div>
		<div>
			<button type="button" (click)="this._soundService.fadeAttr(sound, 'volume', 0, 2)">Fade</button>
			<button type="button" (click)="this._soundService.stop(sound)">Stop</button>
		</div>
		<div>
			Loop <input type="checkbox" [checked]="sound.loopSetting" (change)="this._soundService.toggleLoop(sound)" /><br />
			<!---<button type="button" (click)="this._soundService.fadeAttr(sound, 'playbackRate', 0.4, 2)">Slo-mo</button>-->
			<div *ngIf="sound.audio">
				Volume: <input  [(ngModel)]="sound.audio.volume" />
				Speed: <input  [(ngModel)]="sound.audio.playbackRate" />
			</div>
		</div>
		
		
		
		
		
	</div>
</div>



