<!--
<div><span>name: </span>{{soundbyte.name}}</div>
<div><span>path: </span>{{soundbyte.path}}</div>



<ul class="sounds">
	<li *ngFor="let sound of sounds">
		<button type="button" (click)="this._soundService.play(sound)">{{sound.name}}</button><br />
		<button type="button" (click)="this._soundService.toggleLoop(sound)">{{sound.loopText}}</button>
	</li>

</ul>
-->

<div class="soundContainer">
	<div class="soundDiv" *ngFor="let sound of sounds">
		<button type="button" class="soundButton" (click)="this._soundService.play(sound)">{{sound.name}}</button><br />
		<button type="button" (click)="this._soundService.toggleLoop(sound)">{{sound.loopText}}</button>
	</div>
</div>